* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/pexels-johannes-plenio-1118873.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

section {
    /* width: 300px; */
    margin: 10vh auto;
    font: 1rem/1.3 "Roboto", sans-serif;
    position: relative;
    text-align: center;
    color: #ccc;
}

form {
    text-align: center;
    margin: 20px 0;
}

input {
    padding: 5px;
    border: none;
    border-bottom: 2px solid #ccc;
    background: transparent;
    font-size: 1.2rem;
    color: #ccc;
    outline: none;
}

i {
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}

i:hover {
    color: coral;
}

h1 {
    font-size: 3rem;
}

h3 {
    font-size: 1.5rem;
    margin: 0 4% 0 0;
}

img {
    width: 100px;
}

.weather_display {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather_icon {
    text-align: center;
    position: relative;
}

#cloudy {
    font-size: 0.5rem;
    position: absolute;
    top: 70%;
    left: 10%;
}

a {
    text-decoration: none;
    color: #fff;
    position: absolute;
    top: 20%;
    right: 43%;
}

a:hover {
    padding: 1px 7px;
    background-color: tomato;
    transition: 0.3s;
    transform: scale(1.5);
}

.wetter {
    background-color: rgba(0, 0, 0, 0.37);
    border-radius: 20px;
    padding: 1.5rem;
    margin-top: 1vh;
    color: #fff;
    transition: all 0.9s ease-in-out;
    line-height: 30px;
    text-align: left;
}

.cities_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    /* margin: 0 auto;
    width: 100%;
    padding: 0; */
    list-style: none;
    text-align: left;
}

.cities_list li #weather {
    background-color: rgba(0, 0, 0, 0.37);
    border-radius: 20px;
    padding: 0.5rem 1.5rem;
    margin-top: 1vh;
    color: #fff;
    transition: all 0.9s ease-in-out;
    line-height: 30px;
    text-align: left;
    position: relative;
}

.cities_list li #weather:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.9s ease-in-out;
    /* transform: scale(1.1); */
}

#delete_icon {
    position: absolute;
    color: #ccc;
    top: 3%;
    right: 3%;
    transition: 0.6s;
}

#delete_icon:hover {
    color: red;
    transition: 0.6s;
    transform: scale(1.5);
}